.container {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    
}

.usercontainer {
    display: block;
    text-align: center;
    font-size: 15px;
}